.shop{
    width: 100%;
    height: 6rem;
    background-color: #FF6F00;
    position: fixed;
}
.shop1{
    display: flex;
    justify-content: space-around;
    padding: .12rem;
}
.shop1 .a1{
    font-size: .44rem;
    color: #FFf;
}
.shop .a2{
    font-size: .36rem;
    color: #FFf;
}
.shop2{
    width: 7.02rem;
    height: .28rem;
    padding: 0 .16rem;
}
.shop2 a{
    display: inline-block;
    font-size: .24rem;
    color: #FFf;
    margin: 0 .4rem;
    padding: 0 .6rem;

}